{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- For some browsers use 'compatible mode', enable 'highspeed mode' -->
		<meta name="renderer" content="webkit">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="">
        <title>{% block title %}{% endblock title %}</title>
        {% block base_css %}
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
            <!-- CSS CDN
    		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    		<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
            -->
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock base_css %}
        {% block extra_css %}{% endblock extra_css %}
        {% block js-head %}{% endblock js-head %}
    </head>
    <body>
		<!--
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Knoc</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Dashbord</a></li>
						<li><a href="#">Settings</a></li>
						<li><a href="#">Profiles</a></li>
						<li><a href="#">Help</a></li>
					</ul>
					<form class="navbar-form navbar-right">
						<input type="text" class="form-control" placeholder="Searching...">
					</form>
				</div>
			</div>
		</nav>
		-->

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<div class="info-head">
						<div class="cell">
							<div class="brand">Knoc</div>
						</div>
						<div class="cell">
							<div class="status"><span class="glyphicon glyphicon-cog"></span></div>
						</div>
						<div class="cell">
							<div class="user-avatar">
								<img alt="user avatar" src="{% static 'img/default-avatar.png' %}">
							</div>
						</div>
					</div>
					<div class="nav-sidebar normal compose">
						<div class="btn-group">
							<button type="button" class="btn btn-success btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<i class="glyphicon glyphicon-edit"></i> COMPOSE <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#"><span class="glyphicon glyphicon-link"></span> Link</a></li>
								<li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Note</a></li>
						  	</ul>
						</div>
					</div>
					<div class="divider"></div>
					<div class="nav-sidebar normal activity active">
						<a href="#">
							<span class="glyphicon glyphicon-globe"></span> Activity
						</a>
					</div>
					<div class="divider"></div>
					<ul class="nav nav-sidebar groups">
						<li><span class="caption">GROUPS</span></li>
						<li><a href="#">Shanbay<span class="sr-only">(curent)</span></a></li>
						<li><a href="#">Py</a></li>
						<li><a href="#">Android</a></li>
						<li><a href="#">iOS</a></li>
					</ul>
				</div>
				<div class="col-sm-4 col-sm-offset-3 col-md-5 col-md-offset-2 digest-list">
					<div class="header text-center">{% trans "Activity Lists" %}</div>
					<div class="items">
						<div class="item">
							<div class="img">
								<img alt="image des" src="{% static 'img/python.png' %}">
							</div>
							<div class="main">
								<div class="meta">
									<span class="usr">JinChang</span>
									<span class="time">1 day</span>
									<span class="via">via</span>
									<span class="source">https://www.python.org</span>
								</div>
								<div class="title">
									<h4>Python, quick development</h4>
								</div>
								<div clas="des">
									Python is a widely used general-purpose, high-level programming... 
								</div>
							</div>
						</div>
						<div class="item active">
							<div class="img">
								<img alt="image des" src="{% static 'img/nginx.png' %}">
							</div>
							<div class="main">
								<div class="meta">
									<span class="usr">JinChang</span>
									<span class="time">2 days</span>
									<span class="via">via</span>
									<span class="source">http://www.nginx.cn</span>
								</div>
								<div class="title">
									<h4>Nginx, powerful & eficient Web Server</h4>
								</div>
								<div clas="des">
									Nginx (pronounced "engine-x") is an open source reverse proxy server...
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-sm-offset-7 col-md-5 col-md-offset-7 content">
					<div class="header text-center">Nginx, powerful & eficient Web Server</div>
					<div class="main-content">
						<blockquote>
							<p>Nginx (pronounced "engine-x") is an open source reverse proxy server...</p>
							<footer><a class="btn btn-link" href="http://www.nginx.cn">http://www.nginx.cn</a></footer>
						</blockquote>
						<div class="iframe">
							<iframe src="http://wiki.nginx.org/NginxChs" sandbox="allow-same-origin allow-forms allow-same-origin allow-scripts allow-top-navigation" seamless="seamless">
							</iframe>
						</div>
					</div>
					<!--
					<div class="empty"></div>
					-->
				</div>
			</div>
		</div>
 
        {% block base_js %}
            <!-- JS CDN
    		<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    		<script src="http://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
    		<script src="http://cdn.bootcss.com/backbone.js/1.1.2/backbone-min.js"></script>
    		<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
            -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/underscore-min.js' %}"></script>
			<script src="{% static 'js/backbone-min.js' %}"></script>
			<script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% endblock base_js %}
        {% block extra_js %}{% endblock extra_js %}
    </body>
</html>
