.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.navbar-fixed-top {
  border: 0;
}
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #061723;
    color: white;
    border-right: 1px solid #eee;
  }
  .sidebar .info-head {
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
  }
  .sidebar .info-head .cell {
    -webkit-flex: 1;
    -ms-flex: 1;
    -moz-flex: 1;
    flex: 1;
    text-align: center;
    background: gray;
    border-bottom: 1px solid #1c2f3e;
  }
  .sidebar .info-head .cell > div {
    padding: 15px;
  }
  .sidebar .info-head .cell .brand {
    display: inline-block;
    background: white;
    color: black;
    font-weight: bold;
  }
  .sidebar .info-head .cell .status {
    border-left: 1px solid #1c2f3e;
    border-right: 1px solid #1c2f3e;
  }
  .sidebar .info-head .cell .user-avatar {
    border-radius: 50%;
  }
  .sidebar .divider {
    border-top: 1px solid #1c2f3e;
  }
}
.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
  padding: 20px;
}
.nav-sidebar:first-of-type {
  padding-top: 0;
}
.nav-sidebar > li > a,
.nav-sidebar > li .caption {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.nav-sidebar > li .caption {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #67737c;
  font-size: 0.8em;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active:hover,
.nav-sidebar > .active:focus {
  color: #fff;
  background-color: gray;
}
.nav-sidebar.normal {
  margin-bottom: 0;
  padding: 20px 0 20px 40px;
}
.nav-sidebar.normal.active,
.nav-sidebar.normal:focus {
  color: #fff;
  background-color: gray;
}
.nav-sidebar.normal.activity {
  font-size: 18px;
}
.main {
  padding: 20px;
}
.main .page-header {
  margin-top: 0;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-top: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
